<div class="container mb-4" style="margin-top: 100px;">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Info</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        cart.map(cart=>{%>
                        <tr id="tr_cart_<%= cart.item._id %>">
                            <td><img src="<%= cart.imageSrc %>" width="50px" height="50px"/> </td>
                            <td><%=  cart.item.name %></td>
                            <td><%=  cart.item.info %></td>
                            <td class="text-center"><a href="/cart/increase/<%= cart.item._id %>"  id="<%=cart.item._id %>" class="increaseCart">
                                <i style="margin-right: 10px;" class='fas fa-plus-square' ></i></a>
                                <span id="qty<%= cart.item._id %>"><span id="qty2<%= cart.item._id %>"><%= cart.qty %></span></span>
                                <a href="/cart/reduce/<%= cart.item._id %>" class="reduceCart"   id="<%=cart.item._id %>">
                                <i style="margin-left: 5px;" class='fas fa-minus-square'></i> </a></td>
                            <td class="text-right"><%=  cart.item.price %> VND</td>
                            <td class="text-right"><form class="deleteFormCart" action="/cart/delete/<%= cart.item._id %>" method="POST" data-id="<%=cart.item._id %>">
                                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </form></td>
                        </tr>
                           
        <%})
        
        %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong><%= total %> VND</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="/"><button class="btn btn-block btn-light"><i class="fas fa-shopping-cart"></i> Continue Shopping</button></a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="cart/checkout"><button class="btn btn-lg btn-block btn-success text-uppercase"><i class="fas fa-money-check-alt"></i> Checkout</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
