<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/register.css">
<div class="bg"></div>
<div class="profile">
    <center><img class="propic" src="<%= image %>" alt=""></center>
    <center><img class="propic" src="<%= git %>" alt=""></center>
    <center> <h1><%= name %></h1></center>
        <div class="info">
             <i class="material-icons">email</i>:&nbsp <%= email %> <br>
             <i class="	fas fa-clock"></i>:&nbsp <%= date %> <br>
            <a href="/customer/logout"><button class="btn btn-danger">Log out</button></a>
        </div>
    

</div>

